nav.breadcrumbs{
	margin-bottom: 25px;
}
.breadcrumbs__lyst{
	@include forul;
	font-size: 0;
	.breadcrumbs__item{
		position: relative;
		@include inlineblock(top);
		@include open-sans(regular);
		margin-right: 15px;
		font-size: $fontSize;
		.breadcrumbs__link{
			text-decoration: none;
			color: $black;
			&.active{
			color: $orange;
			text-decoration:underline;
			}
		}
		&:before{
				content: ">";
				position: absolute;
				top: 0;
				left: -10px;
			}
		&:first-child{
			&:before{
			display:none;
			}
		}
	}
}
			