include _common/mixin
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>				<html class="no-js"> <!--<![endif]-->
html(lang="ru-RU")
	head
		meta(charser="UTF-8")
		meta(http-equiv="X-UA-Compatibl",content="IE=edge")
		meta(name="viewport" content="device-width")
		title 
			block title
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
		link(rel="stylesheet",href="css/main.css")
	body
		.wrapper
			.all-container
				include _common/_header.jade
				include _common/_navig.jade
				.main-container
					.container
						include _common/_breadcrumbs.jade
						h1.main-title
							block main-title
						.main-container__content
							include _common/_content.jade
							include _common/_sidebar.jade
						include _common/_info-block.jade
		include _common/_footer.jade