extends ../index.jade
block title
	| Главная страница
block main-title
	| Мобильные телефоны
block sidebar_gallery 
	.ul.sidebar__gallery__lyst
		li.sidebar__gallery__item
			ul.sidebar__gallery__image
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-2.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-3.png")
			p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
			table.sidebar__gallery__table
				tr
					td Тип SIM-карты
					td Micro-SIM 
				tr
					td Количество SIM-карт
					td 1
				tr
					td Цвет
					td Белый 
				tr
					td ОС
					td Android
				tr
					td Связь 3G
					td Есть 
				tr
					td 4G(LTE)
					td Нет
				tr
					td GPS-модуль
					td Есть
			.sidebar__gallery__reiting
				ul.sidebar__gallery__star__lyst
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting_0.png", alt="Star")
				.sidebar__gallery__reiting__block 4
			.sidebar__gallery__price
			.sidebar__gallery__footer
				.sidebar__gallery__footer__block В наличии
				button.sidebar__gallery__footer__btn В корзину
		li.sidebar__gallery__item
			ul.sidebar__gallery__image
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-2.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-3.png")
			p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
			table.sidebar__gallery__table
				tr
					td Тип SIM-карты
					td Micro-SIM 
				tr
					td Количество SIM-карт
					td 1
				tr
					td Цвет
					td Белый 
				tr
					td ОС
					td Android
				tr
					td Связь 3G
					td Есть 
				tr
					td 4G(LTE)
					td Нет
				tr
					td GPS-модуль
					td Есть
			.sidebar__gallery__reiting
				ul.sidebar__gallery__star__lyst
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting_0.png", alt="Star")
				.sidebar__gallery__reiting__block 4
			.sidebar__gallery__price
			.sidebar__gallery__footer
				.sidebar__gallery__footer__block В наличии
				button.sidebar__gallery__footer__btn В корзин
		li.sidebar__gallery__item
			ul.sidebar__gallery__image
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-2.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-3.png")
			p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
			table.sidebar__gallery__table
				tr
					td Тип SIM-карты
					td Micro-SIM 
				tr
					td Количество SIM-карт
					td 1
				tr
					td Цвет
					td Белый 
				tr
					td ОС
					td Android
				tr
					td Связь 3G
					td Есть 
				tr
					td 4G(LTE)
					td Нет
				tr
					td GPS-модуль
					td Есть
			.sidebar__gallery__reiting
				ul.sidebar__gallery__star__lyst
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting_0.png", alt="Star")
				.sidebar__gallery__reiting__block 4
			.sidebar__gallery__price
			.sidebar__gallery__footer
				.sidebar__gallery__footer__block В наличии
				button.sidebar__gallery__footer__btn В корзин
		li.sidebar__gallery__item
			ul.sidebar__gallery__image
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-2.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-3.png")
			p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
			table.sidebar__gallery__table
				tr
					td Тип SIM-карты
					td Micro-SIM 
				tr
					td Количество SIM-карт
					td 1
				tr
					td Цвет
					td Белый 
				tr
					td ОС
					td Android
				tr
					td Связь 3G
					td Есть 
				tr
					td 4G(LTE)
					td Нет
				tr
					td GPS-модуль
					td Есть
			.sidebar__gallery__reiting
				ul.sidebar__gallery__star__lyst
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting_0.png", alt="Star")
				.sidebar__gallery__reiting__block 4
			.sidebar__gallery__price
			.sidebar__gallery__footer
				.sidebar__gallery__footer__block В наличии
				button.sidebar__gallery__footer__btn В корзин
		li.sidebar__gallery__item
			ul.sidebar__gallery__image
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-2.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-3.png")
			p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
			table.sidebar__gallery__table
				tr
					td Тип SIM-карты
					td Micro-SIM 
				tr
					td Количество SIM-карт
					td 1
				tr
					td Цвет
					td Белый 
				tr
					td ОС
					td Android
				tr
					td Связь 3G
					td Есть 
				tr
					td 4G(LTE)
					td Нет
				tr
					td GPS-модуль
					td Есть
			.sidebar__gallery__reiting
				ul.sidebar__gallery__star__lyst
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting_0.png", alt="Star")
				.sidebar__gallery__reiting__block 4
			.sidebar__gallery__price
			.sidebar__gallery__footer
				.sidebar__gallery__footer__block В наличии
				button.sidebar__gallery__footer__btn В корзин
		li.sidebar__gallery__item
			ul.sidebar__gallery__image
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-1.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-2.png")
				li.sidebar__gallery__image__lyst
					img.sidebar__gallery__image__item(src="../img/foto1-3.png")
			p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
			table.sidebar__gallery__table
				tr
					td Тип SIM-карты
					td Micro-SIM 
				tr
					td Количество SIM-карт
					td 1
				tr
					td Цвет
					td Белый 
				tr
					td ОС
					td Android
				tr
					td Связь 3G
					td Есть 
				tr
					td 4G(LTE)
					td Нет
				tr
					td GPS-модуль
					td Есть
			.sidebar__gallery__reiting
				ul.sidebar__gallery__star__lyst
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting.png", alt="Star")
					li.sidebar__gallery__star__item
						img(src="../img/reiting_0.png", alt="Star")
				.sidebar__gallery__reiting__block 4
			.sidebar__gallery__price
			.sidebar__gallery__footer
				.sidebar__gallery__footer__block В наличии
				button.sidebar__gallery__footer__btn В корзи