 nav.main-navigation
	ul.main-navigation__lyst
		li.main-navigation__item: a.main-navigation__link: img(src="../img/header-logo.png", alt="logo")
		li.main-navigation__item: form.main-navigation-seach
			input.main-navigation-input(type="text", placeholder="Что будем искать")
			button.main-navigation-btn(type="submit") Найти
		li.main-navigation__item: a.main-navigation__link.nav-btn Карта проезда 
		li.main-navigation__item: a.main-navigation__link.nav-btn История заказов
		li.main-navigation__item: a.main-navigation__link.nav-btn Корзина
