.sidebar
	nav.sidebar__block-seach
		ul.sidebar__block-seach__lyst
			li.sidebar__block-seach__item
				form.sidebar__block-seach__form
					p.sidebar__block-seach__form__label Сортировать по
					select.sidebar__block-seach__form__select
						option.sidebar__block-seach__form__option по цене
						option.sidebar__block-seach__form__option по популярности
			li.sidebar__block-seach__item
				a(href="#" class="sidebar__block-seach__link sidebar__block-seach__view view") Вид каталога
			li.sidebar__block-seach__item
				a(href="#" class="sidebar__block-seach__link sidebar__block-seach__view")
					img(src="../img/icons/view-list-1.png" class="sidebar__block-seach__img")
			li.sidebar__block-seach__item
				a.sidebar__block-seach__link.sidebar__block-seach__view
			li.sidebar__block-seach__item
				a.sidebar__block-seach__link.sidebar__block-seach__view
	.sidebar__gallery
		.ul.sidebar__gallery__lyst(id='gallery_lyst')
			li.sidebar__gallery__item
				ul.sidebar__gallery__image
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-2.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-3.png")
				p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
				table.sidebar__gallery__table
					tr
						td Тип SIM-карты
						td Micro-SIM 
					tr
						td Количество SIM-карт
						td 1
					tr
						td Цвет
						td Белый 
					tr
						td ОС
						td Android
					tr
						td Связь 3G
						td Есть 
					tr
						td 4G(LTE)
						td Нет
					tr
						td GPS-модуль
						td Есть
				.sidebar__gallery__reiting
					ul.sidebar__gallery__star__lyst
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
					.sidebar__gallery__reiting__block 4
				.sidebar__gallery__price
				.sidebar__gallery__footer
					.sidebar__gallery__footer__block В наличии
					button.sidebar__gallery__footer__btn В корзину
			li.sidebar__gallery__item
				ul.sidebar__gallery__image
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-2.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-3.png")
				p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
				table.sidebar__gallery__table
					tr
						td Тип SIM-карты
						td Micro-SIM 
					tr
						td Количество SIM-карт
						td 1
					tr
						td Цвет
						td Белый 
					tr
						td ОС
						td Android
					tr
						td Связь 3G
						td Есть 
					tr
						td 4G(LTE)
						td Нет
					tr
						td GPS-модуль
						td Есть
				.sidebar__gallery__reiting
					ul.sidebar__gallery__star__lyst
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting_0.png", alt="Star")
					.sidebar__gallery__reiting__block 4
				.sidebar__gallery__price
				.sidebar__gallery__footer
					.sidebar__gallery__footer__block В наличии
					button.sidebar__gallery__footer__btn В корзин
			li.sidebar__gallery__item
				ul.sidebar__gallery__image
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-2.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-3.png")
				p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
				table.sidebar__gallery__table
					tr
						td Тип SIM-карты
						td Micro-SIM 
					tr
						td Количество SIM-карт
						td 1
					tr
						td Цвет
						td Белый 
					tr
						td ОС
						td Android
					tr
						td Связь 3G
						td Есть 
					tr
						td 4G(LTE)
						td Нет
					tr
						td GPS-модуль
						td Есть
				.sidebar__gallery__reiting
					ul.sidebar__gallery__star__lyst
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting_0.png", alt="Star")
					.sidebar__gallery__reiting__block 4
				.sidebar__gallery__price
				.sidebar__gallery__footer
					.sidebar__gallery__footer__block В наличии
					button.sidebar__gallery__footer__btn В корзин
			li.sidebar__gallery__item
				ul.sidebar__gallery__image
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-2.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-3.png")
				p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
				table.sidebar__gallery__table
					tr
						td Тип SIM-карты
						td Micro-SIM 
					tr
						td Количество SIM-карт
						td 1
					tr
						td Цвет
						td Белый 
					tr
						td ОС
						td Android
					tr
						td Связь 3G
						td Есть 
					tr
						td 4G(LTE)
						td Нет
					tr
						td GPS-модуль
						td Есть
				.sidebar__gallery__reiting
					ul.sidebar__gallery__star__lyst
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting_0.png", alt="Star")
					.sidebar__gallery__reiting__block 4
				.sidebar__gallery__price
				.sidebar__gallery__footer
					.sidebar__gallery__footer__block В наличии
					button.sidebar__gallery__footer__btn В корзин
			li.sidebar__gallery__item
				ul.sidebar__gallery__image
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-2.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-3.png")
				p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
				table.sidebar__gallery__table
					tr
						td Тип SIM-карты
						td Micro-SIM 
					tr
						td Количество SIM-карт
						td 1
					tr
						td Цвет
						td Белый 
					tr
						td ОС
						td Android
					tr
						td Связь 3G
						td Есть 
					tr
						td 4G(LTE)
						td Нет
					tr
						td GPS-модуль
						td Есть
				.sidebar__gallery__reiting
					ul.sidebar__gallery__star__lyst
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting_0.png", alt="Star")
					.sidebar__gallery__reiting__block 4
				.sidebar__gallery__price
				.sidebar__gallery__footer
					.sidebar__gallery__footer__block В наличии
					button.sidebar__gallery__footer__btn В корзин
			li.sidebar__gallery__item
				ul.sidebar__gallery__image
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-1.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-2.png")
					li.sidebar__gallery__image__lyst
						img.sidebar__gallery__image__item(src="../img/foto1-3.png")
				p.sidebar__gallery__content Samsung GT-I9301I  GALAXY S 3   
				table.sidebar__gallery__table
					tr
						td Тип SIM-карты
						td Micro-SIM 
					tr
						td Количество SIM-карт
						td 1
					tr
						td Цвет
						td Белый 
					tr
						td ОС
						td Android
					tr
						td Связь 3G
						td Есть 
					tr
						td 4G(LTE)
						td Нет
					tr
						td GPS-модуль
						td Есть
				.sidebar__gallery__reiting
					ul.sidebar__gallery__star__lyst
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting.png", alt="Star")
						li.sidebar__gallery__star__item
							img(src="../img/icons/reiting_0.png", alt="Star")
					.sidebar__gallery__reiting__block 4
				.sidebar__gallery__price
				.sidebar__gallery__footer
					.sidebar__gallery__footer__block В наличии
					button.sidebar__gallery__footer__btn В корзину
	ul.sidebar__lower
		li.sidebar__lower__item
			a.sidebar__lower__link &#60;
		li.sidebar__lower__item
			a.sidebar__lower__link.active 1
		li.sidebar__lower__item
			a.sidebar__lower__link 2
		li.sidebar__lower__item
			a.sidebar__lower__link 3
		li.sidebar__lower__item
			a.sidebar__lower__link &#62;