.sidebar
	nav.sidebar__block-seach
		ul.sidebar__block-seach__lyst
			li.sidebar__block-seach__item
				form.sidebar__block-seach__form
					p.sidebar__block-seach__form__label Сортировать по
					select.sidebar__block-seach__form__select
						option.sidebar__block-seach__form__option по цене
						option.sidebar__block-seach__form__option по популярности
			li.sidebar__block-seach__item Вид каталога
			li.sidebar__block-seach__item
				a.sidebar__block-seach__link
			li.sidebar__block-seach__item
				a.sidebar__block-seach__link
			li.sidebar__block-seach__item
				a.sidebar__block-seach__link
	.sidebar__gallery
		block sidebar_gallery
	ul.sidebar__lower
		li.sidebar__lower__item
			a.sidebar__lower__link &#60;
		li.sidebar__lower__item
			a.sidebar__lower__link.active 1
		li.sidebar__lower__item
			a.sidebar__lower__link 2
		li.sidebar__lower__item
			a.sidebar__lower__link 3
		li.sidebar__lower__item
			a.sidebar__lower__link &#62;

